{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Cuentame</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0"/>
    </head>

    <body>
      {% include "includes/nav.html" %}
      {% block header %}
          <section>
              <div class="container">
                  <h1>Cuentame</h1>
                  <h5 class="flow-text">¿Tienes una historia? Pues cuéntanosla.</h5>
                  <h5 class="flow-text">¿No tienes nada que contar? Pues valora la de los demás.</h5>
              </div>
          </section>
      {% endblock %}

      {% block section %}

      {% endblock %}

      {% include "includes/footer.html" %}
      {% include "includes/modals.html" %}

      {% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
      {% endblock %}
    </body>
  </html>