<section>
    <div class="container center-align">
        {% for post in post_list %}
            <article class="entrada">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% if post.imagen %}/uploads/{{ post.imagen }}{% else %}/static/img/noFoto.png{% endif %}" alt="{{ post.titulo }}" title="{{ post.blog.nombre }}">
                    </div>
                    <div class="card-content">
                        <a href="{% url 'blogsuser_post' username=post.blog.usuario postId=post.id %}"> <span class="card-title activator grey-text text-darken-4" data-id="{{post.id}}"> {{ post.titulo }}</span></a>
                        <p class="justify-align">{{ post.texto_corto}}</p>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col s6 m6 l6 left-align">
                                <a class="left-align" href="{% url 'blogsuser_list' username=post.blog.usuario %}">
                                    <div class="chip">
                                        <img src="/static/img/avatar.png" alt="Autor">{{ post.blog.usuario }}
                                    </div>
                                </a>
                            </div>
                            <div class="col s6 m6 l6 right-align">
                                <p class="fecha-articulo">{{ post.fecha }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 m4 l4 left-align">
                                {% for categoria in post.cat.all %}
                                    <a href="{% url 'blogscatuser_list' nombre=categoria.nombre username=post.blog.usuario %}" alt="Muestra los post del usuario de esta categoría"><div class="chip comentarios">{{ categoria.nombre }}</div></a>
                                {% endfor %}
                            </div>
                            <div class="col s4 m4 l4 center-align">
                                <div class="chip comentarios">99</div>
                            </div>
                            <div class="col s4 m4 l4 right-align">
                                <i data-id="{{ post.id }}" class="material-icons md-48 favorito no-fav white">thumb_up</i>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</section>