<!-- Modal Login de Usuario ( de momento de pega ) -->
    <div id="modalAcceso" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Acceso</h4>
        {{ error }}
        <form method="post" novalidate>
          {% csrf_token %}
          {{ login_form.as_p }}
          <button type="submit">Login</button>
        </form>
      </div>
    </div>

  <!-- Modal Registro de Usuarios (de momento de pega ) -->
    <div id="modalRegistro" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Registro</h4>
        <p>Aquí mostraremos el registro de usuarios</p>
      </div>
    </div>