{% load static %}
<header>
        <div class="navbar-fixed">
          <nav>
            <div class="nav-wrapper">
              <a href="{% url 'blogs_home' %}" class="brand-logo">Cuentame</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                  <li>
                    <div class="chip">
                      <img src="/static/img/avatar.png" alt="Autor">{{ request.user.first_name }} {{ request.user.last_name }}
                    </div>
                  </li>
                {% endif %}

                <li><a id="accesoInicio" href="{% url 'blogs_home' %}">Inicio</a></li>
                {% if user.is_authenticated %}
                  <li><a id="NuevoPost" href="{% url 'new_post' %}">Nuevo Post</a></li>
                  <li><a href="{% url 'users_logout' %}">Salir</a></li>
                {% else %}
                  <li><a id="Acceso" href="#">Acceso</a></li>
                  <li><a id="Registro">Registro</a></li>
                {% endif %}
                <li><a id="blogs" href="{% url 'blogs_list' %}">Blogs</a></li>
                {% if categoria_list|length > 0 %}
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Categorías<i class="material-icons right">arrow_drop_down</i></a></li>
                    <ul id='dropdown2' class='dropdown-content'>
                      {% for categoria in categoria_list%}
                        <li><a href="{% url 'blogscat_list' nombre=categoria.nombre %}">{{categoria.nombre}}</a></li>
                      {% endfor %}
                    </ul>
                {% endif %}
                  <li><a href="#">Contacto</a></li>

              </ul>
              <ul id="mobile-demo" class="side-nav">
                <li>
                  <div class="userView">
                    <img class="background" src="{% static 'img/campina.jpg' %}">
                    <a href="#"><img class="circle" src="{% static 'img/avatar.png' %}"></a>
                    <a href="#"><span class="white-text nombre">
                      {% if user.is_authenticated %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                      {% endif %}
                    </span></a>
                    <a href="#"><span class="white-text correo">
                      {% if user.is_authenticated %}
                        {{ request.user.email }}
                      {% endif %}
                    </span></a>
                  </div>
                </li>
                <li>
                  <form>
                    <div class="input-field">
                      <input id="search" type="search" required>
                      <label for="search"><i class="material-icons md-dark">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </li>
                <li><div class="divider"></div></li>
                <li><a id="accesoInicio_sidenav" href="#">Inicio</a></li>
                {% if user.is_authenticated %}
                  <li><a id="NuevoPost_sidenav" href="{% url 'new_post' %}">Nuevo Post</a></li>
                  <li><a href="{% url 'users_logout' %}">Salir</a></li>
                {% else %}
                  <li><a id="Acceso_sidenav" href="#">Acceso</a></li>
                  <li><a id="Registro_sidenav" href="#">Registro</a></li>
                {% endif %}
                <li><a href="#">Contacto</a></li>
                <li><div class="divider"></div></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categorías<i class="material-icons right">arrow_drop_down</i></a></li>
                  <ul id='dropdown1' class='dropdown-content'>
                    <li><a id="categoria_fotos_sidenav" href="#!">Fotos</a></li>
                    <li><a id="categoria_videos_sidenav" href="#!">Videos</a></li>
                  </ul>
              </ul>

            </div>
          </nav>
        </div>
      </header>