{% extends 'base.html' %}

{% block section %}
    {% if blog_list|length > 0 %}
        <section>
            <div class="container center-align">
                {% for blog in blog_list %}
                    <article class="entrada">
                        <div class="card hoverable">
                            <div class="card-content">
                                <a href="#">
                                    <span class="card-title activator grey-text text-darken-4" data-id="{{blog.id}}"> {{ blog.nombre }}<i class="material-icons right">more_vert</i></span>
                                </a>
                                <p class="left-align">{{ blog.usuario}}</p>
                                <p class="right-align">Creado el {{ blog.creado_el}}</p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section>
            <div class="container center-align">
                <h5>¡No existen Blogs! ¿Quieres ser el Primero?</h5>
            </div>
        </section>
    {% endif %}
{% endblock %}