{% extends 'base.html' %}

{% block section %}
    {% if blog_list|length > 0 %}
        <section>
            <div class="container center-align">
                {% for blog in blog_list %}
                    <article class="entrada">
                        <div class="card hoverable">
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4" data-id="{{post.id}}"> {{ post.titulo }}<i class="material-icons right">more_vert</i></span>
                                <p class="justify-align">{{ post.texto_corto}}</p>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    {% else %}
        {% include "entradas/includes/join_us.html" %}
    {% endif %}
{% endblock %}