{% extends 'base.html' %}

{% block section %}
    <section class="container">
        <h2 class="header">{{ post.titulo }}</h2>
        <h4>{{ post.texto_corto }}</h4>
            <div class="card">
                <div class="card-image">
                    <img class="activator" src="/uploads/{{ post.imagen }}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s6 m6 l6 left-align">
                                <a class="left-align" href="{% url 'blogsuser_list' username=post.blog.usuario %}">
                                    <div class="chip">
                                        <img src="/static/img/avatar.png" alt="Autor">{{ post.blog.usuario }}
                                    </div>
                                </a>
                            </div>
                            <div class="col s6 m6 l6 right-align">
                                <p class="fecha-articulo">{{ post.fecha }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 m4 l4 left-align">
                                {% for categoria in post.cat.all %}
                                    <a href="{% url 'blogscat_list' nombre=categoria.nombre %}"><div class="chip comentarios">{{ categoria.nombre }}</div></a>
                                {% endfor %}
                            </div>
                            <div class="col s4 m4 l4 center-align">
                                <div class="chip comentarios">99</div>
                            </div>
                            <div class="col s4 m4 l4 right-align">
                                <i data-id="{{ post.id }}" class="material-icons md-48 favorito no-fav white">thumb_up</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-content ">
                    {{ post.texto_largo }}
                </div>
            </div>
    </section>
{% endblock %}