{% extends "base.html" %}

{% block title %} Crear Entrada {% endblock %}
{% block header %}{% endblock %}
{% block section %}
    <section>
        <div class="container center-align">
            <h1>Crear entrada</h1>
                {% if message %} <p>{{ message|safe }}</p> {% endif %}

            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ new_post_form.as_p }}
                <div class="form-actions">
                    <button type="submit">Guardar entrada</button>
                </div>

            </form>
        </div>
    </section>
{% endblock %}